@{
    ViewBag.Title = "Home Page";
}

<div ng-app="SPLogBeagle" ng-controller="LogViewController">

    <div id="loading-image" ng-show="isLoading">
        <img src="~/Content/spinner.gif" ng-show="!isSMILEnabled()" />
        <svg ng-show="isSMILEnabled()" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>

    <div class="container-fluid">
        <form class="form-horizontal">

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <h3>Parameters</h3>
                <hr />
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="startDate">From</label>
                    <div class="col-sm-8">
                        <p class="input-group">
                            <input type="text" id="startDate" class="form-control" datetime-picker="dd.MM.yyyy HH:mm" ng-model="startDate" is-open="open.startDate" enable-time="true" datepicker-options="dateOptions" timepicker-options="timeOptions" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="finishDate">To</label>
                    <div class="col-sm-8">
                        <p class="input-group">
                            <input type="text" class="form-control" id="finishDate" datetime-picker="dd.MM.yyyy HH:mm" ng-model="finishDate" is-open="open.finishDate" enable-time="true" datepicker-options="dateOptions" timepicker-options="timeOptions" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'finishDate')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="pattern">Pattern or CorrelationUid</label>
                    <div class="col-sm-8">
                        <p class="input-group">
                            <input type="text" required class="form-control" ng-model="pattern" id="pattern" placeholder="test-pattern">
                        </p>
                    </div>
                </div>
                <div class="form-group col">
                    <label class="control-label col-lg-offset-5"><input type="checkbox" ng-model="isRemoteLogProcessing">IsRemoteLogProcessing</label>
                </div>
                <p class="input-group pull-right">
                    <button type="submit" class="btn btn-success">Go</button>
                </p>
                @*<form class="form-inline" ng-submit="submit()">
                    <div class="form-group">
                        <label for="datepattern">Date from:</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="myDate" is-open="isOpen" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        @*<p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="openedStartDate" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="input-group">
                            <timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="datepattern">Date to:</label>
                        <p class="input-group">
                            <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="myDate" is-open="isOpen" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        @*<p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="finishDate" is-open="openedFinishDate" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openFinishDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="form-group">
                        <p class="input-group">
                            <timepicker ng-model="finishTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                        </p>
                    </div>
                </form>*@

            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                <h3>Columns</h3>
                <hr />
                <ul>
                    <li>
                        <label><input type="checkbox" ng-model="vTimestamp" />Timestamp</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vProcess" />Process</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vTID" />TID</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vArea" />Area</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vCategory" />Category</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vEventID" />EventID</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vLevel" />Level</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vMessage" />Message</label>
                    </li>
                    <li>
                        <label><input type="checkbox" ng-model="vCorrelationUid" />CorrelationUid</label>
                    </li>
                </ul>
            </div>

            <div class="col-lg-8">
                <h3>Locations</h3>
                <hr />
                <ul>
                    <li ng-repeat="lf in logFolders">
                        <label><input type="checkbox" ng-model="lf.isChecked" />{{lf.title}}</label>
                    </li>
                </ul>
            </div>
        </form>        
    </div>
            
    
    <div class="row" ng-init="isParametersOpen='true'">
        <h4><span ng-show="model.ElapsedMilliseconds">Processed in {{model.ElapsedMilliseconds}} ms</span>&nbsp;</h4>
        <accordion>
            <accordion-group ng-repeat="log in model.LogFiles" heading="{{log.Name}} - {{log.Count}}">
                <h3>{{log.Name}} - {{log.Count}}</h3>
                <table ng-if="log.Count>0" class="table table-condensed">
                    <thead>
                        <tr>
                            <th ng-repeat="th in log.Data.Value.Header" ng-show="v{{th}}">{{th}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in log.Data.Value.Body">
                            <td ng-show="vTimestamp">{{row[0]}}</td>
                            <td ng-show="vProcess">{{row[1]}}</td>
                            <td ng-show="vTID">{{row[2]}}</td>
                            <td ng-show="vArea">{{row[3]}}</td>
                            <td ng-show="vCategory">{{row[4]}}</td>
                            <td ng-show="vEventID">{{row[5]}}</td>
                            <td ng-show="vLevel">{{row[6]}}</td>
                            <td ng-show="vMessage">{{row[7]}}</td>
                            <td ng-show="vCorrelationUid">{{row[8]}}</td>
                        </tr>
                    </tbody>
                </table>
            </accordion-group>

            <accordion-group heading="Error" ng-show="error">
                <p>{{error}}</p>
            </accordion-group>
        </accordion>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="~/scripts/init.js"></script>
}
