html
	head
		title Index page
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		link(rel="stylesheet", type="text/css", href="../stylesheets/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="../stylesheets/style.css")
	body
		| HTML
		br
		ul
			li
				a(href="NewForm.html?Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") NewForm
			li
				a(href="DisplayForm.html?ID=-1&Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") DisplayForm id = -1
			li
				a(href="EditForm.html?ID=-1&Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") EditForm id = -1
		br
		|ASPX
		br
		ul
			li
				a(href="NewForm.aspx?Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") NewForm
			li
				a(href="DisplayForm.aspx?ID=-1&amp;Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") DisplayForm id = -1
			li
				a(href="EditForm.aspx?ID=-1&amp;Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") EditForm id = -1
			li
				a(href="DisplayForm.aspx?ID=6&amp;Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") DisplayForm id = 6
			li
				a(href="EditForm.aspx?ID=6&amp;Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") EditForm id = 6
			li
				a(href="DisplayForm.aspx?ID=7&amp;Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") DisplayForm id = 7
			li
				a(href="EditForm.aspx?ID=7&amp;Source=http://localhost:3693/_layouts/15/Softage.RiskCard/assets/templates/Index.html") EditForm id = 7