- var prefix = "pasporttab_responsibles"
include mixins.jade

accordion-group(heading="Ответственные")
	label Ответственные
	table.table.table-condensed
		thead
			tr
				td
				th ФИО
				th(width="300px") Должность
				th(width="200px") e-mail
		tbody
			tr
				td Владелец риска
				td
					+tableFormControlTextarea(prefix, "RiskCard.model.ManagerFIO", "ManagerFIO", "")
				td
					+tableFormControlTextarea(prefix, "RiskCard.model.ManagerPost", "ManagerPost", "")
				td
					+tableFormControlSelect(prefix, "RiskCard.model.ManagerUserInfoId", "ManagerUserInfoId", "", "manager.Id as manager.Title for manager in RiskCard.lists.Users")
			tr
				td Администратор риска
				td
					+tableFormControlTextarea(prefix, "RiskCard.model.AdministratorFIO", "AdministratorFIO", "")
				td
					+tableFormControlTextarea(prefix, "RiskCard.model.AdministratorPost", "AdministratorPost", "")
				td
					+tableFormControlSelect(prefix, "RiskCard.model.AdministratorUserInfoId", "AdministratorUserInfoId", "", "administrator.Id as administrator.Title for administrator in RiskCard.lists.Users")

//
	5.	Раздел 3 - «Ответственные» представляет собой таблицу, состоящую из 4 столбцов и 3 строк (см. таблицу 16). Поля «ФИО_владелец», «Должность», «e-mail» заполняется автоматически из поля «Имя», «Должность», «e-mail» группы пользователя «Руководство» в зависимости от заполненных значений в полях «Общество» и «Дирекция/Подразделение». Поле колонки «ФИО_администратор» имеет тип поля – многострочный текст. Данное поле является обязательным для заполнения. Поле колонки «Должность_администратор» имеет тип поля – многострочный текст. Данные поля являются обязательными для заполнения. Поле колонки «e-mail» имеет тип поля «Пользователь или группа». Данные поля являются обязательными для заполнения. Разрешить выбор - Только пользователи.
	Таблица 16
	Ответственные
		                    ФИО	Должность	e-mail
	Владелец риска		 	 
	Администратор риска	 	 	 
	
	После сохранения внесенных данных во вкладке «Паспорт риска» автоматически запускается рабочий процесс согласования внесенных данных ((Subject: Согласование созданной карточки риска №[ID риска] «[Наименование риска]» (Блок портала «Управление рисками»)). Согласование внесенных данных состоит из 2 этапов:
	– 1 этап - согласование сотрудниками отдела стратегического и проектного управления (Группа пользователей - ОСиПУ). Сотрудникам ОСиПУ на e-mail поступает уведомление:
	Добрый день!
	Информируем Вас о том, что создана карточка риска № [ID риска] «[Наименование риска]».
	Для согласования данных по риску необходимо перейти по ссылке.
	С уважением,
	Администрация Портала СПУР
	– 2 этап - согласование владельцем риска (поле «e-mail_владельца риска» вкладки «Паспорт риска»). Владельцу риска на e-mail поступает уведомление:
	Добрый день!
	Информируем Вас о том, что создана карточка риска № [ID риска] «[Наименование риска]».
	Для согласования данных по риску необходимо перейти по ссылке.
	С уважением,
	Администрация Портала СПУР