- var prefix = "plangraphtab"
include mixins.jade
tab(heading="План-график", active="tab2", ng-controller="RiskPlanGraphController as PlanGraph")
	label План график &nbsp;
	+addStepBtn(prefix, "RiskCard.model.Steps", "Steps")
	table.table.table-hover.table-condensed
		thead
			tr
				th №
				th Название этапа/подэтапа
				th Характер мероприятия
				th Ответственный
				th Дата начала План/Факт
				th Дата окончания План/Факт
				th Длительность План/Факт
				th Статус этапа/подэтапа
				th Причина отклонения/невыполнения
				th Комментарии и пояснения
				th Текущее отклонение от даты начала/окончания, дней
				//th Текущее отклонение от даты окончания, дней
				th Отклонение от даты начала/окончания, дней
				//th Отклонение от даты окончания, дней
				th(ng-hide= ro)
		tbody(ng-repeat="item in RiskCard.model.Steps | filter:{ IsDeleted:!true}")
			+step(false)
			tr(ng-repeat="child in item.Childs | filter:{IsDeleted:!true}")
				+step(true)
	//input(ng-show="model.formType==1", type="button", value="Сохранить", ng-click="createProject(2)", class="btn btn-primary")
	//input(ng-show="model.formType==2", type="button", value="Сохранить", ng-click="updateProject(2)", class="btn btn-primary")
	//input(type="button", value="Отмена", ng-click="cancel(2)", class="btn btn-primary")
//
	script(type="text/ng-template", id="list-item.html")
		tr(ng-show="IsStep()", step="item", items="items", parent="null")
		tr(ng-show="!IsStep()", substep="item", items="items", parent="null")
		tr(ng-repeat="itm in item.Childs| filter:{ IsDeleted:!true}", ng-show="item.Childs", substep="itm", items="item.Childs", parent="item")

//
	1.9.2	Вкладка «План-график»
	План-график является рабочей вкладкой администратора риска и сотрудников, ответственных за реализацию мероприятий по управлению риском, которое имеет следующее представление:
	Таблица 17
	Столбцы плана-графика
	№	Название столбца	                        Описание
	1	Вложения	                                Столбец для вложения документов, протоколов и т.д.
	2	№ этапа/подэтапа	                        Тип поля - Однострочный текст. Поле обязательное для заполнения.
	                                                Всплывающая подсказка «№ этапов имеет формат – 1., 2. и т.д. № подэтапов имеет формат – 1.1, 1.2, 2.3 и т.д.»
	3	Название этапа/подэтапа	                    Тип поля - Однострочный текст. Поле обязательное для заполнения. Поле защищено от корректировок.
	4	Характер мероприятия	                    Тип поля – Выбор (меню). Поле обязательное для заполнения. 
	                                                Способ предоставления вариантов - раскрывающееся меню. 
	                                                Варианты выбора: профилактика, реагирование.
	5	Ответственный	                            Тип поля - Пользователь или группа, разрешить выбор нескольких элементов, 
	                                                разрешить выбор - только пользователи, выбрать из - все пользователи.
	                                                Поле обязательное для заполнения.
	6	Дата начала_План	                        Тип поля – дата и время. Формат даты и времени – только дата.
	                                                Поле обязательное для заполнения. Поле защищено от корректировок.
	                                                Если в ключевом этапе есть подэтапы, то дата начала этапа_план автоматически рассчитывается от 
	                                                дат начала_план всех подэтапов (выбирается минимальное значение)
	7	Дата окончания_План	                        Тип поля – дата и время. Формат даты и времени – только дата.
	                                                Поле обязательное для заполнения. Поле защищено от корректировок.
	                                                Если в ключевом этапе есть подэтапы, то дата окончания этапа_план автоматически рассчитывается от 
	                                                дат окончания_план всех подэтапов (выбирается максимальное значение)
	8	Дата начала_Факт	                        Тип поля – дата и время. Формат даты и времени – только дата.
	                                                Если в ключевом этапе есть подэтапы, то дата начала_факт этапа автоматически рассчитывается от 
	                                                дат начала_факт всех подэтапов (выбирается минимальное значение).
	                                                Проверка данных: если статус этапа/подэтапа равен «в процессе выполнения», 
	                                                то отображается служебное сообщение «Необходимо указать фактическую дату начала этапа/подэтапа».
	9	Дата окончания_Факт	                        Тип поля – дата и время. Формат даты и времени – только дата.
	                                                Если в ключевом этапе есть подэтапы, то дата окончания_факт этапа автоматически рассчитывается от 
	                                                дат окончания_факт всех подэтапов (выбирается максимальное значение).
	                                                Проверка данных: если статус этапа/подэтапа равен «выполнен», 
	                                                то отображается служебное сообщение «Необходимо указать фактическую дату окончания этапа/подэтапа».
	10	Длительность_План	                        Тип поля - Вычисляемый (вычисление по другим столбцам).
	                                                Формула расчета: Дней360(Дата начала_План; Дата окончания_План)+1
	11	Длительность_Факт	                        Тип поля - Вычисляемый (вычисление по другим столбцам).
	                                                Формула расчета - если статус этапа/подэтапа равен «выполнен», то 
	                                                Длительность_Факт = Дней360(Дата начала_Факт; Дата окончания_Факт)+1, иначе 0.
	13	Статус этапа/подэтапа	                    Тип поля – Выбор. Варианты выбора - не начат, в процессе выполнения, выполнен, не выполнен, не актуален, отложен. 
	                                                Поле обязательное для заполнения. Способ предоставления вариантов - раскрывающееся меню.
	                                                В случае если в этапе есть подэтапы, то статус этапа автоматически заполняется следующим образом:
	                                                Статус «в процессе выполнения»:
	                                                 - если хотя бы по 1 подэтапу проставлено значение «в процессе выполнения», 
	                                                    то статус этапа «в процессе выполнения»;
	                                                 - если статус подэтапа содержит и «не начат» и или «выполнен», «не выполнен», «не актуален», 
	                                                    то статус этапа – «в процессе выполнения»;
	                                                Статус «выполнен»:
	                                                 - если по всем подэтапам проставлено значение «выполнен», 
	                                                    то статус этапа «выполнен»;
	                                                - если статус подэтапа содержит и «выполнен» и или «не выполнен», «не актуален», 
	                                                    то статус этапа «выполнен»;
	                                                Статус «не выполнен»:
	                                                - если по всем подэтапам проставлено значение «не выполнен», 
	                                                    то статус этапа «не выполнен»;
	                                                Статус «не актуален»:
	                                                - если по всем подэтапам проставлено значение «не актуален», 
	                                                    то статус этапа «не актуален»;
	                                                Статус «отложен»:
	                                                - если хотя бы по 1 подэтапу проставлено значение «отложен», 
	                                                    то статус этапа «отложен»;
	                                                Проверка внесенных данных:
	                                                - если в поле «Дата начала_Факт» и «Дата окончания_Факт» не пусто и статус этапа/подэтапа равен «не начат», «в процессе выполнения», 
	                                                    то отображается служебное сообщение «Необходимо скорректировать статус этапа/подэтапа на «выполнен»;
	                                                - если в поле «Дата начала_Факт» не пусто и в поле «Дата окончания_Факт» пусто и статус этапа/подэтапа равен «не начат», 
	                                                    то отображается служебное сообщение «Необходимо скорректировать статус этапа/подэтапа на «в процессе выполнения».
	19	Причина отклонения/невыполнения	            Тип поля - Однострочный текст.
	                                                Проверка внесенных данных: 
	                                                - если статус этапа/подэтапа равен «не начат», «в процессе выполнения», «выполнен» и 
	                                                        или отклонения от плана графика (от даты начала, окончания) > 0 или текущее отклонение (от даты начала, окончания) > 0, 
	                                                        и в данном поле пусто, 
	                                                    то отображается служебное сообщение «Необходимо указать причину отклонения от плана-графика».
	                                                - если статус этапа/подэтапа равен «не выполнен», «не актуален», «отложен», и в данном поле пусто, 
	                                                    то отображается служебное сообщение «Необходимо указать причину не выполнения/неактуальности/переноса реализации этапа/подэтапа».
	20	Комментарии и пояснения	                    Тип поля - Однострочный текст.
	19	Текущее отклонение от даты начала, дней	    Тип поля - Вычисляемый (вычисление по другим столбцам).
	                                                Отклонения от плана-графика этапа/подэтапа рассчитывается следующим образом: 
	                                                - если статус этапа/подэтапа равен «не начат» и текущая дата > Дата начала_План, 
	                                                    то текущее отклонение = (Дней360(Дата начала_План;Текущая дата)+1)
	20	Текущее отклонение от даты окончания, дней	Тип поля - Вычисляемый (вычисление по другим столбцам).
	                                                Отклонения от плана-графика этапа/подэтапа рассчитывается следующим образом: 
	                                                - если статус этапа/подэтапа равен «в процессе выполнения» и текущая дата > Дата окончания_План, 
	                                                    то текущее отклонение = (Дней360(Дата окончания_План; Текущая дата)+1)
	21	Отклонение от даты начала, дней	            Тип поля - Вычисляемый (вычисление по другим столбцам).
	                                                Статус «выполнен»:
	                                                - если статус этапа/подэтапа равен «выполнен» и Дата начала_Факт > Дата начала_План, 
	                                                    то отклонение = (Дней360(Дата начала_План; Дата начала_Факт)+1);
	                                                Статус «не выполнен»/«не актуален»/«отложен» - если Дата начала_Факт > Дата начала_План, 
	                                                    то отклонение = (Дней360(Дата начала_План;Дата начала_Факт)+1), иначе 0.
	22	Отклонение от даты окончания, дней	        Тип поля - Вычисляемый (вычисление по другим столбцам) 
	                                                - если статус этапа/подэтапа равен «выполнен» и Дата окончания_Факт > Дата окончания_План, 
	                                                    то отклонение = (Дней360(Дата окончания_План; Дата окончания_Факт)+1), иначе 0.
	
	Доступ на внесение/корректирование информации в план-график имеет 
	    администратор риска (поле «Администратор риска», вкладка «Паспорт риска»), 
	    Владелец риска (поле «Владелец риска», вкладка «Паспорт риска») и 
	    сотрудники, ответственные за реализацию этапов (поле «Ответственный», вкладка «План-график»).
	
	Рабочий процесс вкладки «План-график»:
	•	если в поле «Вероятность наступления риска» графическое изображение имеет вид -  , то владельцу риска (поле «e-mail_владельца риска») и администратору риска (поле «e-mail_администратор риска»), в копии сотрудники отдела стратегического и проектного управления (Группа пользователей - ОСиПУ) на e-mail поступает уведомление (Subject: Карточка риска №[ID риска] «[Наименование риска] (Блок портала «Управление рисками»)):
	Добрый день!
	В связи с тем, что риск №[ID риска] «[Наименование риска]» находится в умеренной зоне, просим Вас разработать план профилактических мероприятий.
	С уважением,
	Администрация Портала СПУР
	Рассылка уведомлений происходит 1 раз в 11:00.
	•	если в поле «Вероятность наступления риска» графическое изображение имеет вид -  , то владельцу риска (поле «e-mail_владельца риска») и администратору риска (поле «e-mail_администратор риска»), в копии сотрудники отдела стратегического и проектного управления (Группа пользователей - ОСиПУ)) на e-mail поступает уведомление (Subject: Карточка риска №[ID риска] «[Наименование риска] (Блок портала «Управление рисками»):
	Добрый день!
	В связи с тем, что риск №[ID риска] «[Наименование риска]» находится в критической зоне, просим Вас разработать план профилактических мероприятий.
	С уважением,
	Администрация Портала СПУР
	Рассылка уведомлений происходит 1 раз в 11:00.
	•	если статус этапов/подэтапов равен «не начат» и текущая дата > = Дата начала_План, тогда ответственному сотруднику (поле «Ответственный») и администратору риска (поле «e-mail администратора») на e-mail поступает уведомление (Subject: Карточка риска №[ID риска] «[Наименование риска] (Блок портала «Управление рисками»):
	Добрый день!
	Информируем вас о том, что вам была поставлена задача № [№ этапа/подэтапа]
	«[Название этапа/подэтапа]». Перейдите по ссылке и примите задачу к исполнению.
	С уважением,
	Администрация Портала СПУР
	•	если статус этапов/подэтапов равен «в процессе выполнения» и текущая дата > = Дата окончания_План, тогда ответственному сотруднику (поле «Ответственный») и администратору риска (поле «e-mail администратора») на e-mail поступает уведомление (Subject: Карточка риска №[ID риска] «[Наименование риска] (Блок портала «Управление рисками»):
	Добрый день!
	Информируем вас о том, что вам была поставлена задача № [№ этапа/подэтапа]
	«[Название этапа/подэтапа]». Перейдите по ссылке и отчитайтесь о выполнении задачи.
	С уважением,
	Администрация Портала СПУР
	Рассылка уведомлений происходит 1 раз в день в 11:00.