- var prefix = "pasporttab_formstructriskmngmntproc"
include mixins.jade

accordion-group(heading="Формализация/структурирование процесса управления риском")
	+formControlSelect(prefix, "RiskCard.model.OptimizationRegulations", "OptimizationRegulations","Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции", "or for or in RiskCard.lists.OptimizationRegulations")
	+formControlTextarea(prefix, "RiskCard.model.StandartReglamentName", "StandartReglamentName", "Наименование стандарта/регламента")
	+formControlSelect(prefix, "RiskCard.model.ScheduledRequiredGrowthProcesses", "ScheduledRequiredGrowthProcesses","Планируемые, необходимые проекты развития", "srgp for srgp in RiskCard.lists.ScheduledRequiredGrowthProcesses")
//
	4.	Раздел 4 - «Формализация/структурирование процесса управления риском», который в свою очередь включает следующие подразделы:
	o	Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции - тип поля – Выбор (меню). 
	    Поле обязательное для заполнения. Пользователям не разрешено добавлять варианты. 
		Способ предоставления вариантов - раскрывающееся меню. 
	    Варианты выбора:
	    •	Нужен стандарт/регламент области, процесса;
	    •	Нужен пересмотр стандарта/регламента области, процесса;
	    •	Есть стандарт/регламент;
	    •	Не нужен стандарт/регламент.
	o	Наименование стандарта/регламента - имеют тип поля – многострочный текст. 
	    Данное поле доступно для внесения данных в случае если в поле «Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции» 
	    указаны следующие значения: 
			«Нужен пересмотр стандарта/регламента области, процесса»; «Есть стандарт/регламент».
	
	Рабочий процесс:
	•	если в поле «Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции» указано значение «Нужен стандарт/регламент области, процесса» и в поле «Угроза/Возможность» указано значение «Возможность», то сотрудникам сектора бизнес-моделирования и стандартизации (Группа пользователей - Сектор бизнес-моделирования и стандартизации), в копии владелец риска (поле «e-mail_владельца риска») и администратор риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Cтандарт/регламент (Блок портала «Управление рисками»):
	Добрый день!
	Информируем Вас о том, что с целью развития возможности «[Наименование риска]»
	необходимо разработать стандарт/регламент процесса [Дирекция/подразделение] [Общество].
	С уважением,
	Администрация Портала СПУР
	•	если в поле «Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции» указано значение «Нужен стандарт/регламент области, процесса» и в поле «Угроза/возможность» указано значение «Риск», то сотрудникам сектора бизнес-моделирования и стандартизации (Группа пользователей - Сектор бизнес-моделирования и стандартизации), в копии владелец риска (поле «e-mail_владельца риска») и администратор риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Cтандарт/регламент (Блок портала «Управление рисками»):
	Добрый день!
	Информируем Вас о том, что с целью минимизации угрозы «[Наименование риска]» необходимо разработать стандарт/регламент процесса [Дирекция/подразделение] [Общество].
	С уважением,
	Администрация Портала СПУР
	•	если в поле «Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции» указано значение «Нужен пересмотр стандарта/регламента области, процесса» и в поле «Угроза/Возможность» указано значение «Возможность», то сотрудникам сектора бизнес-моделирования и стандартизации (Группа пользователей - Сектор бизнес-моделирования и стандартизации), в копии владелец риска (поле «e-mail_владельца риска») и администратор риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Cтандарт/регламент (Блок портала «Управление рисками»):
	Добрый день!
	Информируем Вас о том, что с целью развития возможности «[Наименование риска]» необходимо пересмотреть стандарт/регламент [Наименование стандарта/регламента] 
	[Дирекция/подразделение] [Общество].
	С уважением,
	Администрация Портала СПУР
	•	если в поле «Оптимизация регламент.базы: стандарты, регламенты, указания, инструкции» указано значение «Нужен пересмотр стандарта/регламента области, процесса» и в поле «Угроза/возможность» указано значение «Угроза», то сотрудникам сектора бизнес-моделирования и стандартизации (Группа пользователей - Сектор бизнес-моделирования и стандартизации), в копии владелец риска (поле «e-mail_владельца риска») и администратор риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Cтандарт/регламент (Блок портала «Управление рисками»):
	Добрый день!
	Информируем Вас о том, что с целью уменьшения угрозы «[Наименование риска]» 
	необходимо пересмотреть стандарт/регламент [Наименование стандарта/регламента] [Дирекция/подразделение] [Общество].
	С уважением,
	Администрация Портала СПУР
	o	Планируемые, необходимые проекты развития - тип поля – Выбор (меню). Поле обязательное для заполнения. Пользователям не разрешено добавлять варианты. Способ предоставления вариантов - раскрывающееся меню. Варианты выбора:
		Нужен проект;
		Проект запланирован, в процессе выполнения;
		Проект запланирован, но не выполнен;
		Не нужен проект.
	Рабочий процесс:
	•	если в поле «Планируемые, необходимые проекты развития» указано значение «Нужен проект» и в поле «Угроза/возможность» указано значение «Возможность», то сотрудникам отдела стратегического и проектного управления (Группа пользователей - ОСиПУ), в копии Владелец риска (поле «e-mail_владельца риска») и администратор риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Проект развития (Блок портала «Управление рисками)):
	Добрый день!
	Информируем Вас о том, что с целью развития возможности «[Наименование риска]» необходимо рассмотреть вопрос реализации проекта [Дирекция/подразделение] [Общество].
	С уважением,
	Администрация Портала СПУР
	•	если в поле «Планируемые, необходимые проекты развития» указано значение «Нужен проект» и в поле «Угроза/возможность» указано значение «Угроза», то сотрудникам отдела стратегического и проектного управления (Группа пользователей - ОСиПУ), в копии владелец риска (поле «e-mail_владельца риска») и администратор риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Проект развития (Блок портала «Управление рисками)):
	Добрый день!
	Информируем Вас о том, что с целью уменьшения угрозы «[Наименование риска]» необходимо рассмотреть вопрос реализации проекта [Дирекция/подразделение] [Общество].
	С уважением,
	Администрация Портала СПУР