- var prefix = "reporttab_costeffectiveness"
include mixins.jade

accordion-group(heading="Экономическая эффективность управления риском")
	//	4.	Раздел 4 - «Экономическая эффективность управления риском», который в свою очередь включает следующие подразделы:
	
	//	Экономический эффект управления риском имеет тип поля – Вычисляемый (вычисление по другим столбцам). 
	+formControlText(prefix, "RiskCard.model.EconomicResult", "EconomicResult", "Экономический эффект управления риском")
	span {{RiskCard.costEffectiveness()}}
	
	//	Изменение вероятности наступления риска имеет тип поля – Вычисляемый (вычисление по другим столбцам). 
		Формула расчета: 
			если текущая дата >= 31 Декабря 
				и текущий год не равен значению в поле «Отчетный год» или в поле «Риск реализован» проставлена галочка 
				и последнее значение в поле «Вероятность наступления риска_Месяц» равно   
				и не равно значению в поле «Вероятность наступления риска_Месяц» за предыдущий месяц, 
					то в данном поле проставляется значение «Вероятность наступления риска возросла». 
			Если текущая дата >= 31 Декабря 
				и текущий год не равен значению в поле «Отчетный год» или в поле «Риск реализован» проставлена галочка 
				и последнее значение в поле «Вероятность наступления риска_Месяц» равно  , значение в поле «Вероятность наступления риска_Месяц» за предыдущий месяц равно  , 
					то проставляется значение «Вероятность наступления риска возросла». 
			Если текущая дата >= 31 Декабря 
				и текущий год не равен значению в поле «Отчетный год» или в поле «Риск реализован» проставлена галочка 
				и последнее значение в поле «Вероятность наступления риска_Месяц» равно  , значение в поле «Вероятность наступления риска_Месяц» за предыдущий месяц равно  , 
					то проставляется значение «Вероятность наступления риска снизилась». 
			Если текущая дата >= 31 Декабря 
				и текущий год не равен значению в поле «Отчетный год» или в поле «Риск реализован» проставлена галочка 
				и последнее значение в поле «Вероятность наступления риска_Месяц» равно  , значение в поле «Вероятность наступления риска_Месяц» за предыдущий месяц равно  , 
					то проставляется значение «Вероятность наступления риска снизилась». 
			Иначе 
				«Вероятность наступления риска не изменилась».
	+formControlText(prefix, "RiskCard.model.RiskReduction", "RiskReduction", "Изменение вероятности наступления риска", "RiskCard.checkProbabilityChanges()")
	span {{RiskCard.probabilityChanges()}}

	//	Вывод об эффективности управления риском - имеет тип поля – тип поля - многострочный текст. 
	+formControlTextarea(prefix, "RiskCard.model.RiskManagementEffectiveness_E_valu", "RiskManagementEffectiveness_E_valu", "Вывод об эффективности управления риском")
	span.error(ng-show="RiskCard.riskManagementEffectiveness_E_valuInvalidMessage()") {{RiskCard.riskManagementEffectiveness_E_valuInvalidMessage()}}