- var prefix = "pasporttab_riskscore"
include mixins.jade

accordion-group(heading="Оценка риска")
	//	Количеств. оценка влияния риска, руб. - имеет тип поля – Число (1; 1,0; 100), 
		Число знаков после запятой – 2. Поле обязательное для заполнения.
		Количеств. оценка влияния риска, руб.* - имеет тип поля – Вычисляемый (вычисление по другим столбцам). 
		Если в поле «Угроза/Возможность» указано значение «Угроза», то в данное поле проставляется значение 
		равное полю «Количеств. оценка влияния риска, руб.» со знаком «минус». 
		Поле не отображено в представлении.
	+formControlNumberOnlyInput(prefix, "RiskCard.model.QARiskEffect","QARiskEffect", "Количеств. оценка влияния риска, руб.", 2)
	//	Обоснование оценки риска, руб. - имеют тип поля – многострочный текст. Поле обязательное для заполнения.
	+formControlTextarea(prefix, "RiskCard.model.RationaleForRiskAssessment", "RationaleForRiskAssessment", "Обоснование оценки риска, руб.")
	//	Риск-аппетит, руб. - имеет тип поля – Число (1; 1,0; 100), 
		Число знаков после запятой – 2. Поле обязательное для заполнения.
		Риск-аппетит, руб.* - имеет тип поля – Вычисляемый (вычисление по другим столбцам). 
		Если в поле «Угроза/Возможность» указано значение «Угроза», 
		то в данное поле проставляется значение равное полю «Риск-аппетит, руб.» со знаком «минус». 
		Поле не отображено в представлении.
	+formControlNumberOnlyInput(prefix, "RiskCard.model.RiskAppetite", "RiskAppetite", "Риск-аппетит, руб.", 2)