- var prefix = "pasporttab_generalinfo"
include mixins.jade

accordion-group(heading="Общая информация о риске")
	+formControlSelect(prefix, "RiskCard.model.ReportYear", "ReportYear", "Отчётный год", "year for year in RiskCard.lists.ReportYears")
	+formControlTextarea(prefix, "RiskCard.model.Name", "Name", "Наименование риска")
	+formControlTextarea(prefix, "RiskCard.model.Description", "Description", "Описание риска")
	+formControlSelect(prefix, "RiskCard.model.StrategicGoalId", "StrategicGoalId", "Стратегическая цель", "sg.Id as sg.Title for sg in RiskCard.lists.StrategicGoals")
	+formControlSelect(prefix, "RiskCard.model.SocietyId", "SocietyId", "Общество", "society.Id as society.Title for society in RiskCard.lists.Society", null, "RiskCard.model.ManagementId = undefined")
	+formControlSelect(prefix, "RiskCard.model.ManagementId", "ManagementId", "Дирекция/подразделение", "management.Id as management.Title for management in RiskCard.lists.Managements | filter: { SocietyId: RiskCard.model.SocietyId}")
	+formControlSelect(prefix, "RiskCard.model.RiskKindId", "RiskKind", "Вид риска по источнику возникновения", "rk.Id as rk.Title for rk in RiskCard.lists.RiskKinds")
	+formControlSelect(prefix, "RiskCard.model.RiskGroupId", "RiskGroup", "Группа риска", "rg.Id as rg.Title for rg in RiskCard.lists.RiskGroups | filter: { RiskKindId: RiskCard.model.RiskKindId}")
	+formControlSelect(prefix, "RiskCard.model.AreaBusinessProcessId", "AreaBusinessProcess", "Область/Бизнес-процесс", "rg.Id as rg.Title for rg in RiskCard.lists.AreaBusinessProcesses | filter: { RiskGroupId: RiskCard.model.RiskGroupId}")
	+formControlSelect(prefix, "RiskCard.model.ThreatOpportunityId", "ThreatOpportunity", "Угроза/возможность", "to.Id as to.Title for to in RiskCard.lists.ThreatOpportunities")
	+formControlSelect(prefix, "RiskCard.model.RiskResponseStrategyId", "RiskResponseStrategy", "Стратегия реагирования на риск", "rrs.Id as rrs.Title for rrs in RiskCard.lists.RiskResponseStrategies | filter: { ThreatOpportunityId: RiskCard.model.ThreatOpportunityId}")
	+formControlSelect(prefix, "RiskCard.model.UnacceptableRisk", "UnacceptableRisk", "Неприемлемые риски", "ur for ur in RiskCard.lists.UnacceptableRisks")
	+formControlSimpleTable(prefix, "RiskCard.model.RiskFactors", "Title", "Причины риска",  "rf", "RiskFactors", "Причины риска")
	+formControlSimpleTable(prefix, "RiskCard.model.ConsequencesOfRisk", "Title", "Последствия риска", "cor", "ConsequencesOfRisk", "Последствия риска")

//
	1.	Раздел 1 - «Общая информация о риске», который в свою очередь включает следующие подразделы:
	o	Отчетный год - тип поля - Выбор (меню). Варианты выбора: 2014, 2015, 2016, 2017, 2018, 2019. Поле обязательное для заполнения.
	o	Наименование риска – тип поля - многострочный текст. Поле обязательное для заполнения.
	o	Описание риска - тип поля - многострочный текст. Поле обязательное для заполнения.
	o	Общество - тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Общество», который содержит следующую информацию: 
		ОАО «СИБЭКО»;
		ЗАО «АТП»;
		ЗАО «ИТС»;
		НОУ Энергоцентр;
		ОАО «Бийскэнерго»;
		ОАО «НГТЭ»;
		ОАО «Разрез Сереульский»;
		ОАО БЭТТ;
		ЧОО Электра.
		ОАО «ПРиС»
		ОАО «ПЭСК-1»
		ОАО «АСС»
	o	Дирекция/подразделение - тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Организационная структура ГК «СИБЭКО». Данное поле является зависимым от заполненных в поле «Общество» данных. Зависимость организационной структуры и общества указана в таблице 9. Также в данном поле на выбор представлены только те дирекции, по которым в поле «Дирекция реструктурирована» списка «Справочник «Организационная структура ГК «СИБЭКО» указано значение «Действует».
	Таблица 9
	Зависимость организационной структуры и общества
	Общество	Дирекция/Подразделение
	ОАО «СИБЭКО»	Подразделение ТЭЦ №2
	ОАО «СИБЭКО»	Подразделение ТЭЦ №3
	ОАО «СИБЭКО»	Подразделение ТЭЦ №4
	ОАО «СИБЭКО»	Подразделение ТЭЦ №5
	ОАО «СИБЭКО»	Подразделение БАРАБИНСКАЯ ТЭЦ (БТЭЦ)
	ОАО «СИБЭКО»	Филиал "Локальные котельные"
	ОАО «СИБЭКО»	Подразделение "Топливоподача"
	ОАО «СИБЭКО»	Дирекция по экономике и финансам
	ОАО «СИБЭКО»	Дирекция по бухгалтерскому и налоговому учету
	ОАО «СИБЭКО»	Дирекция по правовым и корпоративным вопросам
	ОАО «СИБЭКО»	Дирекция по оперативному управлению
	ОАО «СИБЭКО»	Дирекция по исполнению инвестиционных программ
	ОАО «СИБЭКО»	Дирекция по информационным технологиям
	ОАО «СИБЭКО»	Дирекция по топливообеспечению
	ОАО «СИБЭКО»	Дирекция по безопасности
	ОАО «СИБЭКО»	Дирекция по управлению персоналом
	ОАО «СИБЭКО»	Дирекция по сбыту тепловой энергии
	ОАО «СИБЭКО»	Дирекция по развитию
	ОАО «СИБЭКО»	Техническая дирекция
	ЗАО «АТП»	Руководство
	ЗАО «АТП»	Финансово-экономический отдел
	ЗАО «АТП»	Отдел маркетинга и продаж
	ЗАО «АТП»	Дирекция по эксплуатации
	ЗАО «АТП»	Техническая дирекция
	ЧОО Электра	Руководство
	ЧОО Электра	Бухгалтерия
	ЧОО Электра	Финансово-экономический отдел
	ЧОО Электра	Отдел по управлению персоналом
	ЧОО Электра	Гараж
	ЧОО Электра	Хозяйственный отдел
	ЧОО Электра	Центр связи
	ОАО «НГТЭ»	Руководство
	ОАО «НГТЭ»	Техническая дирекция
	ОАО «НГТЭ»	Дирекция по развитию и инвестициям
	ОАО «НГТЭ»	Бухгалтерия
	ОАО «НГТЭ»	Дирекция по экономике и финансам
	ОАО «НГТЭ»	Дирекция по общим вопросам
	ОАО «НГТЭ»	Дирекция по безопасности
	ОАО «НГТЭ»	Управление по работе с персоналом
	ОАО «НГТЭ»	Управление по правовому обеспечению деятельности
	ЗАО «ИТС»	Руководство
	ЗАО «ИТС»	Отдел обеспечения производственной деятельности
	ЗАО «ИТС»	Центр технической поддержки
	ЗАО «ИТС»	Управление сервисного обслуживания центрального узла связи (УСОЦУС)
	ЗАО «ИТС»	Управление сервисного обслуживания энергопредприятий
	ЗАО «ИТС»	Управление прикладного программного обеспечения
	ЗАО «ИТС»	Управление по автоматизированным системам управления технологическими процессами (УАСУТП)
	НОУ Энергоцентр	Руководство
	НОУ Энергоцентр	Отдел планирования и кадровой работы
	НОУ Энергоцентр	Учебно-методический отдел
	НОУ Энергоцентр	Хозяйственно-технический отдел
	ОАО «Бийскэнерго»	Руководство
	ОАО «Бийскэнерго»	Техническая дирекция
	ОАО «Бийскэнерго»	Дирекция по экономике и финансам
	ОАО «Бийскэнерго»	Дирекция по безопасности
	ОАО «Бийскэнерго»	Отдел по управлению персоналом
	ОАО «Бийскэнерго»	Дирекция по сбыту тепловой энергии
	ОАО «Бийскэнерго»	Административно-хозяйственное управление
	ОАО «Бийскэнерго»	Бухгалтерия
	ОАО «Разрез Сереульский»	Руководство
	ОАО «Разрез Сереульский»	Юридический отдел
	ОАО «Разрез Сереульский»	Дирекция по экономике и финансам
	ОАО «Разрез Сереульский»	Дирекция по производству
	ОАО «Разрез Сереульский»	Техническая дирекция
	ОАО «Разрез Сереульский»	Управление по развитию
	ОАО БЭТТ	Руководство
	ОАО БЭТТ	Управление энергообеспечения
	ОАО БЭТТ	Управление по распределению тепловой энергии и контролю
	ОАО БЭТТ	Техническая дирекция
	
	o	Вид риска по источнику возникновения – тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Вид риска по источнику возникновения», который содержит следующую информацию: внутренний, внешний.
	o	Группа риска - тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Группа риска». Данное поле является зависимым от заполненных в поле «Вид риска по источнику возникновения» данных. Зависимость группы риска от вида риска по источнику возникновения указана в таблице 10.
	Таблица 10
	Зависимость группы риска от вида риска по источнику возникновения
	Вид риска по источнику возникновения	Группа риска
	внутренний	Процесс управления
	внутренний	Процесс развития
	внутренний	Основный процесс
	внутренний	Вспомогательный процесс
	внешний	Микросреда
	внешний	Макросреда
	
	o	Область/Бизнес-процесс - тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Область/Бизнес-процесс». Данное поле является зависимым от заполненных в поле «Группа риска» данных. Зависимость области/бизнес-процесса от группы риска указана в таблице 11.
	Таблица 11
	Зависимость области/бизнес-процесса от группы риска
	Группа риска	Область/Бизнес-процесс
	Процесс управления	Стратегическое управление
	Процесс управления	Управление экономикой и финансами
	Процесс развития	Управление инвестициями и организация строительства
	Процесс развития	Управление организационным развитием
	Основной процесс	Топливообеспечение
	Основной процесс	Техническое обслуживание и ремонт оборудования
	Основной процесс	Материально-техническое обеспечение
	Основной процесс	Производство электрической и тепловой энергии
	Основной процесс	Сбыт тепловой энергии
	Основной процесс	Сбыт электрической энергии
	Вспомогательный процесс	Управление персоналом
	Вспомогательный процесс	Правовое и корпоративное обеспечение
	Вспомогательный процесс	ИТ-обеспечение
	Вспомогательный процесс	Бухгалтерское обеспечение
	Вспомогательный процесс	Административно-хозяйственное обеспечение
	Вспомогательный процесс	Обеспечение безопасности
	Вспомогательный процесс	Управление имущественными отношениями
	Микросреда	Потребительский риск
	Микросреда	Риск, связанный с контрагентами
	Микросреда	Риск конкурентной среды
	Макросреда	Естественный и экологический риск
	Макросреда	Политический риск
	Макросреда	Нормативно-правовой риск
	Макросреда	Финансово-экономический риск
	Макросреда	Технологический риск
	
	o	Угроза/возможность - тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Угроза/возможность», который содержит следующую информацию:
		Угроза;
		Возможность;
	o	Стратегия реагирования на риск - тип поля - подстановка (данные, уже имеющиеся на этом сайте). Поле обязательное для заполнения. Источник данных – список «Стратегия реагирования на риск». Данное поле является зависимым от заполненных в поле «Угроза/возможность» данных. Зависимость стратегии реагирования на риск от угрозы/возможности указана в таблице 12.
	Таблица 12
	Зависимость стратегии реагирования на риск от угрозы/возможности
	Угроза/возможность	Стратегии реагирования на риск
	Угроза	Уклонение
	Угроза	Передача
	Угроза	Снижение
	Угроза	Принятие
	Возможность	Использование
	Возможность	Разделение
	Возможность	Увеличение
	Возможность	Принятие
	
	o	Неприемлемые риски – тип поля – Выбор (меню). Поле обязательное для заполнения. Способ предоставления вариантов - раскрывающееся меню. Варианты выбора – -, Неприемлемый. Пользователям не разрешено добавлять варианты.
	o	Причины риска представляет собой таблицу, состоящую из 2 колонок (см. таблицу 13). Строки колонки «№» заполняются автоматически (от 1 до 10). Строки колонки «Причины риска» имеют тип поля – многострочный текст. По умолчанию в таблице отображено 2 строки. Первая строка таблицы является обязательной для заполнения. При нажатии на кнопку «+добавить строку», отображается строка №3 и т.д. Максимальное количество добавляемых строк не должно превышать 10.
	Таблица 13
	Причины риска
	№	Причины риска
	1	 
	2	
	+добавить строку	 
	
	o	Последствия риска представляет собой таблицу, состоящую из 2 колонок (см. таблицу 14). Строки колонки «№» заполняются автоматически (от 1 до 10). Строки колонки «Последствия риска» имеют тип поля – многострочный текст. По умолчанию в таблице отображено 2 строки. Первая строка таблицы является обязательной для заполнения. При нажатии на кнопку «+добавить строку», отображается строка №3 и т.д. Максимальное количество добавляемых строк не должно превышать 10.
	Таблица 14
	Последствия риска
	№	Последствия риска
	1	
	2	
	+добавить строку