tab(heading="Паспорт риска", active="tab1")
	accordion(close-others="'true'")
		include PassportTab-GeneralInfo.jade
		include PassportTab-Indicators.jade
		include PassportTab-RiskScore.jade
		include PassportTab-FormStructRiskMngmntProc.jade
		include PassportTab-Responsibles.jade