tab(heading="Отчет об управлении риском", active="tab3")
	accordion(close-others="'true'")
		include ReportTab-Monitoring.jade
		include ReportTab-Plan.jade
		include ReportTab-ImplementationInfo.jade
		include ReportTab-CostEffectiveness.jade
		include ReportTab-Results.jade
	a.document-button(ng-href="/_layouts/15/Softage.RiskCard/DocumentHandler.ashx?type=RiskPassport&id={{RiskCard.model.Id}}") Отчет об управлении риском
	input(type="button", value="Актуализация риска", ng-click="RiskCard.ActualizeRiskCard()")
	br
	br
//
	1.9.3	Вкладка «Отчет об управлении риском»
	Вкладка «Отчет об управлении риском» состоит из 5 разделов, а именно: 
		«Мониторинг риска на основе индикатора», 
		«План мероприятий по управлению риском», 
		«Информация о реализации риска», 
		«Экономическая эффективность управления риском», 
		«Общие выводы о результатах управления риском», 
	которые в свою очередь содержат подразделы. 
	При нажатии на название раздела отчета об управлении риском отображаются подразделы данного раздела.
	Если текущая дата >=31 Декабря и текущий год не равен значению в поле «Отчетный год», 
		тогда администратор/владелец риска имеет возможность на корректировку заполненных данных в течение 25 дней 
		со дня изменения статуса выполнения плана мероприятий на указанные выше. 
		Сотрудники отдела стратегического и проектного управления (OSIPU ( учетная запись - i:0#.w|ne\osipu)) 
		имеют полный доступ на заполнение/редактирование информации в данной вкладке.
	
	Разделы отчета о реализации проекта:
	
 
