- var prefix = "reporttab_monitoring"
include mixins.jade

accordion-group(heading="Мониторинг риска на основе индикатора")
	table.indicators.table.table-responsive
		thead
			tr
				td №
				td 
					| Наименование индикатора /
					br
					| Ед.изм / Вероятность наступления риска
					br
				td
					| Диапазон значений для безрисковой зоны, 
					br
					| минимум/максимум
				td 
					| Диапазон значений для умеренной зоны,
					br
					| минимум/максимум 
				each val, index in {1:'Январь',2:'Февраль',3:'Март',4:'Апрель',5:'Май',6:'Июнь',7:'Июль',8:'Август',9:'Сентябрь',10:'Октябрь', 11:'Ноябрь', 12: 'Декабрь'}
					td
						p= val
						| Факт / Вероятность наступления риска /
						br 
						| Комментарий
		tbody
			tr(ng-repeat="indicator in RiskCard.model.Indicators | filter:{IsDeleted:!true}")
				// Строки колонки «№» заполняются автоматически (от 1 до 5). 
				td {{$index+1}}
				// 	Поля колонки «Наименование индикатора» соответствуют полям «Наименование индикатора» вкладки «Паспорт риска». 
				//	Поля «Наименование индикатора» вкладки «Отчет об управлении риском» доступны только для чтения. 
				td
					| {{indicator.Title}}
					// 	Поле «Вероятность наступления риска» имеет тип поля «Рисунок». 
					//		Значение в данном поле равно последнему значению в полях «Вероятность наступления риска_Месяц». 
					//	Поле «Вероятность наступления риска_Месяц» имеет тип поля «Рисунок». 
					//		Значение в данном поле заполняется следующим образом: 
					//			если последнее фактическое значение_Месяц >= минимального значения и <=максимального значения диапазона значений для безрисковой зоны, 
					//				то отображается графическое изображение -  1. 
					//			Если последнее фактическое значение_Месяц < минимального значения или > максимального значения диапазона значений для безрисковой зоны 
					//			и если фактическое значение_Месяц >= минимального значения и <=максимального значения диапазона значений для умеренной зоны, 
					//				то отображается графическое изображение -  2. 
					//			Если фактическое значение_Месяц < минимального значения или > максимального значения диапазона значений для умеренной зоны, 
					//				то отображается графическое изображение -  3.
					br
					// +tableFormControlSelectWithCustomVariants(prefix, "indicator.Measure", "measureid", $index, "measure for measure in RiskCard.lists.Measures", "indicator.CustomMeasure", "indicator.IsCustomMeasure")
					+tableFormControlSelectWithCustomVariants(prefix, "indicator.Measure", "measureid", "{{$index}}", "measure for measure in RiskCard.lists.Measures", 
					"indicator.CustomMeasure", "indicator.IsCustomMeasure", 
					"indicator.Measure = (indicator.Measure ? indicator.Measure : ((RiskCard.lists.Measures | filter:{ $: 'руб.'}:true)||[])[0])",
					"indicator.IsCustomMeasure")
					img(style="height:40px", ng-src="../img/{{RiskCard.getProbabilityCommonImageId(indicator)}}.png", ng-show="RiskCard.getProbabilityCommonImageId(indicator)")
				td 
					+tableFormControlNumberOnlyInput(prefix, "indicator.RiskOutMin", "RiskOutMin", "{{$index}}", 3)
					br 
					+tableFormControlNumberOnlyInput(prefix, "indicator.RiskOutMax", "RiskOutMax", "{{$index}}", 3)
				td 
					+tableFormControlNumberOnlyInput(prefix, "indicator.RiskMedMin", "RiskMedMin", "{{$index}}", 3)
					br
					+tableFormControlNumberOnlyInput(prefix, "indicator.RiskMedMax", "RiskMedMax", "{{$index}}", 3)
				each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
					- var value = "indicator.Month" + val + "Fact"
					- var rem = "indicator.Month" + val + "Rem"
					- var imgId = "RiskCard.getProbabilityImageId(" + value  + ", indicator.RiskOutMin, indicator.RiskOutMax, indicator.RiskMedMin, indicator.RiskMedMax, indicator," + val + ")"
					- var img = "../img/{{" + imgId + "}}.png"
					td
						+tableFormControlNumberOnlyInput(prefix, value, value, "{{$index}}", 3, "RiskCard.refreshProbability()")
						img(style="height:40px", ng-src= img, ng-show= imgId)
						br 
						+tableFormControlTextarea(prefix, rem, rem, "{{$index}}")

//
	1.	Раздел 1 - «Мониторинг риска на основе индикатора», который в свою очередь включает в себя таблицу, состоящую из 20 колонок (см. таблицу 18). 
	
	Поля колонки «Ед.изм.» соответствуют полям «Ед.изм.» вкладки «Паспорт риска». 
		Поля «Ед.изм.» вкладки «Отчет об управлении риском» доступны только для чтения. 
	Поля колонок «Минимальное значение», «Максимальное значение» диапазона значений для безрисковой зоны 
		и поля колонок «Минимальное значение», «Максимальное значение» диапазона значений для умеренной зоны 
		соответствуют полям «Минимальное значение», «Максимальное значение» диапазона значений для безрисковой зоны 
		и полям «Минимальное значение», «Максимальное значение» диапазона значений для умеренной зоны вкладки «Паспорт риска». 
	Поля «Минимальное значение», «Максимальное значение» диапазона значений для безрисковой зоны 
		и поля «Минимальное значение», «Максимальное значение» диапазона значений для умеренной зоны 
		вкладки «Отчет об управлении риском» доступны только для чтения. 
	Поля «Месяц» (12 колонок) имеют тип поля - однострочный текст и содержат следующие данные: 
		Январь, Февраль, Март, Апрель, Май, Июнь, Июль, Август, Сентябрь, Октябрь, Ноябрь, Декабрь. 
	Поля «Факт» имеют тип поля - Число (1; 1,0; 100), Число знаков после запятой – 3. 
		Значения в полях «Факт» доступны для редактирования в течение 7 дней от последней даты их заполнения. 
	Поля «Комментарий» имеют тип поля - многострочный текст и доступны для редактирования в течение 7 дней от последней даты их заполнения.

	===
	https://tux.softage.ru/bz_sp/show_bug.cgi?id=266
	Alyona Kozhakina     2015-03-13 12:07:39 NOVT  
	Давайте сделаем следующим образом:
	1. сделаем скрол горизонтальный
	2. диапазоны мин и макс совместить и выводить друг под другом - диапазон мин/макс
	3. Столбцы с месяцами делаем в 2 строки - первая - поле с фактом факт и картинкой с вероятностью, под ними (т.е. и под фактом и под вероятностью) поле с комментарием
	===

	===
	https://tux.softage.ru/bz_sp/show_bug.cgi?id=267
	Alyona Kozhakina     2015-03-13 14:43:54 NOVT  
	Дополнения клиентов к "3-я вкладка таблица 18 ( Мониторинг риска на основе индикатора ) 
	>Значения в полях «Факт» доступны для редактирования в течение 7 дней от последней даты их заполнения. 
	>Поля «Комментарий» имеют тип поля - многострочный текст и доступны для редактирования в течение 7 дней от последней даты их заполнения."

	вариант с привязкой к определенной дате нам не подходит, т.к. это сложно сделать. давайте тогда откажемся от этой идеи и 
	сделаем это поле защищенное для редактирования и привязанное к полю "Разрешить изменения" следующим образом - 
	администратор вносит информацию в поле факт, данное поле становится защищено, 
	но если вдруг администратору необходимо что-то поменять, то он обращается к нам (ОСИПУ), мы ставим галочку разрешить изменения, и он вносит информацию. 
	Убираем галочку - администратор не может редактировать
	===


	Рабочий процесс: если текущая дата соответствует значению в поле «Дата» списка «Месяц/дата_риски», то владельцу риска (поле «e-mail_владельца риска») и администратору риска (поле «e-mail_администратор риска») на e-mail поступает уведомление (Subject: Индикаторы риска №[ID риска] «[Наименование риска] (Блок портала «Управление рисками»)):
	Добрый день!
	Просим Вас заполнить информацию по индикаторам 
	риска № [ID риска] «[Наименование риска]» за [Месяц]
	С уважением,
	Администрация Портала СПУР
	Поле «Месяц» в тексте уведомления заполняется исходя из текущей даты: ВПР ([Сегодня]; Диапазон списка «Месяц/дата_риски»; 2; 0).
